[Unit]
Description=Export GPIOs
Documentation=https://github.com/hashrabbit/systemd-beaglebone#readme
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target shutdown.target
Conflicts=shutdown.target
ConditionVirtualization=no
AssertPathExists=/sys/class/gpio/export

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/gpio export
ExecStop=/usr/lib/systemd/gpio unexport
